<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Pick your Champion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">


</head>
<body>

<!--<div class="container">
    <div class="jumbotron">
        <h1>Hi, Losers, Are you ready to be smacked down?</h1>

    </div>
</div>-->
<div id="app">
    <div class="row">
        <div class="col-sm-0" style="max-width:10%;">
            <select v-model="obje.name">
                <option selected="selected" value="Choose">Choose</option>
                <option value="vi">vi</option>
                <option value="slavik">slavik</option>
                <option value="dimas">dimas</option>
            </select>

        </div>
        <div class="col-sm-0" style="max-width:50%;">
            <select v-model="dat">
                <option>5</option>
                <option value="10">10</option>
                <option>15</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>
        <div class="col-sm-0" style="max-width:50%;">
            <select v-model="oppo">
                <option selected="selected" value="Vse">Vse</option>
                <option value="vi">vi</option>
                <option value="slavik">slavik</option>
                <option value="dimas">dimas</option>
            </select>
        </div>
        <input class="col-sm-0" style="max-width:50%;" type="date" v-model="datka" placeholder="Write the date(dd/mm)">
        <div class="col-sm-1" style="max-width:15%;">
            <button v-on:click="fet" value="Go" class="blue">Go</button>
        </div>


   <!--    <div class="vr">&nbsp;</div>-->

        <div class="col-sm-0 posio" style="max-width:50%;">
            <select v-model="save.igrok1">
                <option selected="selected" value="Player1">Player1</option>
                <option value="vi">vi</option>
                <option value="slavik">slavik</option>
                <option value="dimas">dimas</option>
            </select>
        </div>

        <div class="col-sm-0 posio" style="max-width:50%;">
            <select v-model="save.zabil1">
                <option selected="selected" value="GF">GF</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="col-sm-0 posio" style="max-width:50%;">
            <select v-model="save.propustil">
                <option selected="selected" value="GA">GA</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="col-sm-0 posio" style="max-width:50%;">
            <select v-model="save.igrok2">
                <option selected="selected" value="Player2">Player2</option>
                <option value="vi">vi</option>
                <option value="slavik">slavik</option>
                <option value="dimas">dimas</option>
            </select>
        </div>
        <div class="col-sm-2 posio" style="max-width:15%;">
            <button v-on:click="sav" value="Go" class="blue">Save</button>
        </div>
    </div>
    <div v-show="!countW==0&&!countL==0">
        <span class="zabil">{{countW}}</span>-<span class="propustil">{{countL}}</span>
    </div>
    <div class="row">
        <div class="col-sm-5" style="max-width:50%;">
    <table>
        <tr>
            <th>Name</th>
            <th class="zabil">Zabil</th>
            <th class="propustil">Propustil</th>
            <th>Opponent</th>
            <th>Result</th>
        </tr>
        <tr v-for="us in user" v-bind:key="us.name">
            <th>{{us.name}}</th>
            <th class="zabil">{{us.zabil}}</th>
            <th class="propustil">{{us.propustil}}</th>
            <th>{{us.opponent}}</th>
            <th>{{us.result}}</th>

        </tr>
    </table>
        </div>
       <div >
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th scope="col">vi</th>
                    <th scope="col">dimas</th>
                    <th scope="col">slavik</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">vi</th>
                    <td >XXXXX</td>
                    <td>{{vidimas.vi}}-{{vidimas.dimas}}</td>
                    <td >vi vs slavik</td>

                </tr>
                <tr>
                    <th scope="row">dimas</th>
                    <td >dimas vs </td>
                    <td>XXXXX</td>
                    <td >dimas vs slavik</td>

                </tr>
                <tr>
                    <th scope="row">slavik</th>
                <td >slavik vs vi</td>
                <td >slavik vs dimas</td>
                    <td >XXXXX</td>
                </tr>
                <tr>
                    <th scope="row">Total</th>
                    <td >Total</td>
                    <td >Total</td>
                    <td >Total</td>

            </tr>
                </tbody>
            </table>
       </div>

</div>

</div>
<script src="https://unpkg.com/vue"></script>


<script src="/js/vuee.js"></script>

</body>
</html>