<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Pick your Champion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">


</head>
<body>

<div id="app">
    <div class="row">
        <div class="col-sm-0" style="max-width:10%;">
   <igroki v-model="obje.name">
   <option selected="selected" value="Choose">Choose</option>
  </igroki>
        </div>
        <div class="col-sm-0" style="max-width:50%;">
            <select v-model="dat">
                <option>5</option>
                <option value="10">10</option>
                <option>15</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>
        <div class="col-sm-0" style="max-width:50%;">
     <igroki v-model="oppo">
  <option selected="selected" value="Vse">Vse</option>
      </igroki>
        </div>
        <input class="col-sm-0" style="max-width:50%;" type="date" v-model="datka" placeholder="Write the date(dd/mm)">
        <div class="col-sm-1" style="max-width:15%;">
            <button v-on:click="fet" value="Go" class="blue">Go</button>
        </div>

        <div class="col-sm-0 posio" style="max-width:50%;">
        <igroki v-model="save.igrok1">
    <option selected="selected" value="Player1">Player1</option>
  </igroki>
       </div>

        <div class="col-sm-0 posio" style="max-width:50%;">
     <options v-model="save.zabil">
              <option selected="selected" value="GF">GF</option>
         </options>
        </div>
        <div class="col-sm-0 posio" style="max-width:50%;">
         <options v-model="save.propustil">
              <option selected="selected" value="GA">GA</option>
         </options>
        </div>
        <div class="col-sm-0 posio" style="max-width:50%;">
          <igroki v-model="save.igrok2">
       <option selected="selected" value="Player2">Player2</option>
          </igroki>
  </div>
        <div class="col-sm-2 posio" style="max-width:15%;">
            <button v-on:click="sav" value="Go" class="blue">Save</button>
        </div>
    </div>
    <div v-show="(!countW==0)&&(!countL==0)">
        <span class="zabil">{{countW}}</span>-<span class="propustil">{{countL}}</span>
    </div>
    <div class="row">
        <div class="col-sm-5" style="max-width:50%;">
    <table>
        <tr>
            <th>Name</th>
            <th class="zabil">Zabil</th>
            <th class="propustil">Propustil</th>
            <th>Opponent</th>
            <th>Result</th>
        </tr>
        <tr v-for="us in user" v-bind:key="us.name">
            <th>{{us.name}}</th>
            <th class="zabil">{{us.zabil}}</th>
            <th class="propustil">{{us.propustil}}</th>
            <th>{{us.opponent}}</th>
            <th>{{us.result}}</th>

        </tr>
    </table>
        </div>
       <div >
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th scope="col">vi</th>
                    <th scope="col">dimas</th>
                    <th scope="col">slavik</th>

                </tr>
                </thead>
                <tbody>
                <tr v-bind:key="vidimas.vi">
                    <th scope="row">vi</th>
                    <td >XXXXX</td>
                    <td><span class="zabil">{{vidimas.dimas}}</span>-<span class="propustil">{{vidimas.vi}}</span>(<span class="zabil">{{vidimas.viGA}}</span>-<span class="propustil">{{vidimas.viGF}}</span>)</td>
                    <td ><span class="zabil">{{vislavik.slavik}}</span>-<span class="propustil">{{vislavik.vi}}</span>(<span class="zabil">{{vislavik.viGA}}</span>-<span class="propustil">{{vislavik.viGF}}</span>)</td>

                </tr>
                <tr>
                    <th scope="row">dimas</th>
                    <td ><span class="zabil">{{vidimas.vi}}</span>-<span class="propustil">{{vidimas.dimas}}</span>(<span class="zabil">{{vidimas.viGF}}</span>-<span class="propustil">{{vidimas.viGA}}</span>) </td>
                    <td>XXXXX</td>
                    <td ><span class="zabil">{{dimasslavik.slavik}}</span>-<span class="propustil">{{dimasslavik.dimas}}</span>(<span class="zabil">{{dimasslavik.dimasGF}}</span>-<span class="propustil">{{dimasslavik.dimasGA}}</span>)</td>

                </tr>
                <tr>
                    <th scope="row">slavik</th>
                <td ><span class="zabil">{{vislavik.vi}}</span>-<span class="propustil">{{vislavik.slavik}}</span>(<span class="zabil">{{vislavik.viGF}}</span>-<span class="propustil">{{vislavik.viGA}}</span>)</td>
                <td ><span class="zabil">{{dimasslavik.dimas}}</span>-<span class="propustil">{{dimasslavik.slavik}}</span>(<span class="zabil">{{dimasslavik.dimasGF}}</span>-<span class="propustil">{{dimasslavik.dimasGA}}</span>)</td>
                    <td >XXXXX</td>
                </tr>
                <tr>
                    <th scope="row">Total</th>
                    <td ><span class="zabil">{{total.viW}}</span>-<span class="propustil">{{total.viL}}</span>(<span class="zabil">{{total.viGF}}</span>-<span class="propustil">{{total.viGA}}</span>)</td>
                    <td ><span class="zabil">{{total.dimasW}}</span>-<span class="propustil">{{total.dimasL}}</span>(<span class="zabil">{{total.dimasGF}}</span>-<span class="propustil">{{total.dimasGA}}</span>)</td>
                 <td ><span class="zabil">{{total.slavikW}}</span>-<span class="propustil">{{total.slavikL}}</span>(<span class="zabil">{{total.slavikGF}}</span>-<span class="propustil">{{total.slavikGA}}</span>)</td>

            </tr>
                </tbody>
            </table>
       </div>

</div>

</div>
<script src="https://unpkg.com/vue"></script>


<script src="/js/vuee.js"></script>

</body>
</html>
